In [5]:
import pandas as pd
df = pd.read_csv("weather_data.csv") ###import weather data
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
df.shape  ###for show rows and columns

(6, 4)

In [7]:
rows, columns = df.shape  ### for specific rows & columns
rows, columns

(6, 4)

In [8]:
df.head(2)    ###to show specific row

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [9]:
df.tail(1)   ### for show specific data

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

In [11]:
df.columns  ###show the columns name

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [13]:
df.event ###for access specific column

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object